// Bootstrap-icons
@import '~bootstrap-icons/font/bootstrap-icons.css';

.bi-thin {
    font-weight: 100;
}

.m-top {
    margin-top: 10rem;
}

.fw-700 {
    font-weight: 700;
}

.main-menu {

    nav {
        a {
            text-transform: uppercase;
        }
    }
}

.same-style {

    &:hover {

        .language-dropdown,
        .currency-dropdown {
            display: block;
        }
    }
}

input,
textarea {
    border-radius: 5px;

    &:focus {
        border: .7px solid rgb(110, 93, 93);
    }
}

#scrollUp {
    border-radius: 50%;
}


.contact-form {

    input {
        border: solid 1px red !important;
        border-radius: 5px;

        &:focus {
            border: .7px solid red;
        }
    }

}

// @media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .m-top {
        margin-top: 6rem;
    }
}
