// Bootstrap-icons
@import '~bootstrap-icons/font/bootstrap-icons.css';

.bi-thin {
    font-weight: 100;
}

.m-top {
    margin-top: 10rem;
}

.main-menu {

    nav {
        a {
            text-transform: uppercase;
        }
    }
}

.same-style {

    &:hover {

        .language-dropdown,
        .currency-dropdown {
            display: block;
        }
    }
}

// @media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .m-top {
        margin-top: 6rem;
    }
}
